body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #ffffff;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
}

.x {
  background: #cc1f00;
}

button:hover {
    opacity: 0.5;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #cc1f00;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.heading {
  overflow: hidden;
  text-align: center;
}

.heading:before,
.heading:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.heading:before {
  right: 0.5em;
  margin-left: -50%;
}

.heading:after {
  left: 0.5em;
  margin-right: -50%;
}

input.ng-invalid.ng-touched {
  border: solid red;
}

#loginText{
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#signInBtn{
  color: white;
  background-color: lightblue;
  border: #ffffff
}
#signupBtn{
  background-color: lightcoral;
  color: white;
  border: #ffffff;
}

