<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Lyle.IO</title>
<body class="container" style="width: 35%; height: 35%;">
  <div class="row pt-3 pb-3" style="background-color: #cc1f00">
    <div class="col text-center">
      <h2 class="x text-center" id = "loginText">Lyle.io</h2>
    </div>
  </div>

  <form name="form" class="mt-2" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="imgcontainer">
      <img src="./assets/profile/placeholder.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <div class="row">
        <div class="col">

          <label for="username">
            <b>Username</b>
          </label>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <input
            type="text"
            class="form-control mb-2"
            name="username"
            placeholder="Enter your username"
            [(ngModel)]="model.username"
            #username="ngModel"
            required/>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="">
              <b>Password</b>
            </label>

            <input
            type="password"
            class="form-control mb-2"
            name="password"
            placeholder="Enter your password"
            [(ngModel)]="model.password"
            #password="ngModel"
            required/>
            <div *ngIf="f.submitted && !password.valid && username.valid" class="help-block">Password is required</div>
            <div *ngIf="f.submitted && !password.valid && !username.valid" class="help-block"></div>
          </div>
          <div class="form-group">
          </div>
        </div>
      </div>

      <button class="btn btn-block btn-success" id = "signInBtn" type="submit" [disabled]="loading">Login</button>
      <h5 class="heading mt-2 mb-4">or</h5>
      <button class="btn btn-info btn-block" id = "signupBtn" type="register" routerLink = "/signup" >Sign Up</button>
    </div>
  </form>
</body>
