
<form #passwordForm="ngForm" class="text-center mb-3">
  <div class="form-row mt-3">
    <span class="col">
      <input #oldpassword
      class="form-control"
      type="password"
      id="old-password"
      name="oldPassword"
      placeholder="Old Password"
      [(ngModel)]="oldPassword"
      required>
    </span>
  </div>
  <div class="form-row mt-3">
    <span class="col">
      <input #newpassword
      class="form-control"
      type="password"
      id="new-password" name="newPassword" placeholder="New Password"
      [(ngModel)]="newPassword" required>
    </span>
  </div>
  <div class="form-row mt-3">
    <span class="col">
      <input #confirmPassword
      class="form-control"
      type="password"
      id="confirm-password"
      name="confirmPassword"
      placeholder="Confirm New Password"
      [(ngModel)]="secondPassword"
      required>
    </span>
  </div>
  <button type="submit" class="btn mt-3" [disabled]="!passwordForm.valid" (click)="update();" id="updateBtn">Update Password</button>
</form>

