<div class="">
  <div class="row no-gutters" id="headerBackground">
    <div class="col-1.5">
      <div style="max-width: 162px;">
        <img src="../../assets/header/avatars/adsfasf.png" alt="profilePicture" class="img-fluid" >
      </div>
    </div>

    <div class="col d-flex justify-content-start">
        <div class=" pr-3">
          <div class="row ">
            <div class="col d-flex justify-content-start">
              <div>
                  <img src="../../assets/header/flags/saudi.png" alt="flag" class="img-fluid pl-2 pt-2" style="width: 50px;">
              </div>

              <div class="flex-column pl-2">
                <div>
                    <a routerLink="/profileUpdate">Update</a>
                </div>
                <div>
                    <a routerLink="/logout">Logout</a>

                </div>
              </div>


            </div>
          </div>


            <!-- (click)="toProfileUpdate()" -->
            <div class="  pl-2 pt-3 text-white">
            <p class="lines">Ahmed Hadi</p>
            <p class="lines">CSE</p>
            <p class="lines">Senior</p>
            <p class="lines">Cyber Security</p>
          </div>
        </div>
    </div>

    <!-- <div class="col-6  ">

      <div class="">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">

            <button class="navbar-toggler"
             type="button"
             data-toggle="collapse"
             data-target="#navbarNavAltMarkup"
             aria-controls="navbarNavAltMarkup"
             aria-expanded="false"
             aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>

           <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
             <div class="navbar-nav">
               <a class="nav-item nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
               <a class="nav-item nav-link" href="#" >Search</a>
               <a class="nav-item nav-link" href="#" >Events</a>
               <a class="nav-item nav-link" href="#" >Meetings</a>
             </div>
           </div>
          </nav>
        </div>
    </div> -->

<div class="col-1.5 d-flex justify-content-end">
  <div class="border border-primary pt-4 " id="smuHeaderLogo" style="max-width: 100px;">
    <img src="../../assets/header/headerSMUlogo.png" alt="headerLogo" class="img-fluid">
  </div>
</div>

  </div>
</div>
