<div class="container-fluid" style="background-color:#75a9f9;">
  <div class="row align-items-center"  style="height: 100vh;">
    <div class="col text-center d-flex justify-content-center">
      <div class="border border-dark p-5">
        <img class="img-fluid mb-4" src="../../assets/signup/smuLogo.jpg" alt="smuLogo" id="profileSMUlogo">
        <h3 class="mb-3">Update Information</h3>


        <form>

          <div class="form-group">
            <input class="form-control mb-3" type="text" name="fname" placeholder="First Name">
            <input class="form-control mb-3" type="text" name="lname" placeholder="Last Name">
            <input class="form-control mb-3" type="text" name="email" placeholder="Email">
            <input class="form-control mb-3" type="password" name="pass" placeholder="password">
            <select class="form-control mb-2" >
                <option class="selected">Choose Track</option>
              <option>Cyber Secuirty</option>
              <option>Game Development</option>
              <option>Software Engineering</option>
              <option>Research</option>
              <option>General</option>
            </select>
            <div class=" d-flex justify-content-between">
              <button class="btn btn-success">Save</button>
              <button routerLink="/home" class="btn btn-danger">Cancel</button>
            </div>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
